{{#contentFor "pageTitle"}}Detalles{{/contentFor}}
<div class="row">
    <div class="col-md-6">
    <img src="{{product.imageUrl}}" alt="{{product.name}}" class="img-fluid img_detail_prduct">
    </div>
    <div class="col-md-6 text-background div_detail_product">
    <h2 class="mb-3" style="font-size:1.5rem"><strong>{{product.name}}</strong></h2>
    <div class="info_description_product">
    <p class="text-muted" style="font-size:1.2rem"><strong>Descripción:</strong> {{product.description}}</p>
    <p style="font-size:1.2rem"><strong>Precio:</strong> ${{product.price}}</p>
    <p style="font-size:1.2rem"><strong>Stock:</strong> {{product.stock}} unidades disponibles</p>
    <p style="font-size:1.2rem"><strong>Categoria:</strong>{{product.category}}</p>
    </div>
        <div class="container">
            <div class="col-5">
                <div class="text-center">
                    <button class="btn btn-success btn-lg" onclick="addToCart('{{product._id}}', '{{product.name}}', {{product.price}}, '{{cartId}}')">Agregar al carrito</button>
                    <a id="vaciarCarrito" class="text-background btn btn-lg btn-danger flex-fill mb-3" style="font-size: 1.2rem;" href="/products" role="button">Volver</a>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/addtocart.js"></script>
